<div class="jumbotron">
  <h1>Welcome to Currencies App</h1>
  <hr />
  <p class="lead">This app can help you get a forecast of currencies rates.</p>
  <p class="lead text-danger">IMPORTANT! This is sample app. Don't use rates from it in your real life.</p>
  <hr />
  <% if current_user.present? %>
    <%= link_to 'My calculations', calculations_path, class: 'btn btn-lg btn-primary' %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-outline-primary' %>
  <% end %>

</div>
