---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/2018-01-15?base=EUR&symbols=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 15 Jan 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2018-01-15","rates":{"GBP":0.89043}}'
  recorded_at: Thu, 01 Feb 2018 09:49:42 GMT
[...]
- request:
    method: get
    uri: https://api.fixer.io/2018-01-29?base=EUR&symbols=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2018-01-29","rates":{"GBP":0.8794}}'
  recorded_at: Thu, 01 Feb 2018 09:49:43 GMT
recorded_with: VCR 4.0.0
