---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/2018-01-08?base=EUR&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 08 Jan 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2018-01-08","rates":{"USD":1.1973}}'
  recorded_at: Tue, 23 Jan 2018 18:31:31 GMT
[...]
- request:
    method: get
    uri: https://api.fixer.io/2018-01-29?base=EUR&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 29 Jan 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2018-01-29","rates":{"USD":1.2379}}'
  recorded_at: Mon, 29 Jan 2018 18:58:49 GMT
recorded_with: VCR 4.0.0
