---
http_interactions:
- request:
    method: get
    uri: https://api.fixer.io/2009-05-31?base=EUR&symbols=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 29 May 2009 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"base":"EUR","date":"2009-05-29","rates":{"USD":1.4098}}'
  recorded_at: Sun, 28 Jan 2018 18:58:52 GMT
recorded_with: VCR 4.0.0
